@page
@model IDDQD.Pages.IndexModel

@{
    ViewData["Title"] = "Home page";
}

<head>

     <title>Competency Curricula 2020</title>
<!--

DIGITAL TREND

https://templatemo.com/tm-538-digital-trend

-->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/aos.css">
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">

<!-- MAIN CSS -->
<link rel="stylesheet" href="css/templatemo-digital-trend.css">

</head>
<body>

     <!-- HERO -->
     <section class="hero hero-bg d-flex justify-content-center align-items-center">
               <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                              <div class="hero-text">

                                   <h1 class="text-white" data-aos="fade-up">What's Your Competency?</h1>

                                   <a href="/Identity/Account/Login" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Sign in and let's get started!</a>
                              </div>
                        </div>

                        <div class="col-lg-6 col-12">
                          <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                            <img src="images/acm.png" class="img-fluid" alt="acm">
                            <img src="images/iEEE.png" class="img-fluid" alt="acm">

                          </div>
                        </div>

                    </div>
               </div>
     </section>


     <!-- ABOUT -->
     <section class="about section-padding pb-0" id="about">
          <div class="container">
               <div class="row">

                    <div class="col-lg-7 mx-auto col-md-10 col-12">
                         <div class="about-info">

                              <h2 class="mb-4" data-aos="fade-up">the best <strong>Computer Curriculum Reference</strong> Globally</h2>
                              <p class="mb-0" data-aos="fade-up">Computing Curricula 2020 (CC2020) Pages:<br><a href="/Account/Login"><strong>Log In</strong></a>,<br><a href="/Disposition/Index"><strong> Disposition</strong></a>, <br><a href="/Knowledge/Index"><strong>Knowledge</strong></a>, <br>and a <br><a href="/Skills/Index"><strong>Skills</strong></a> page. 
                              @* <br><br>You are <strong>allowed</strong> to use this template for commercial or non-commercial purpose. You are NOT allowed to redistribute the template ZIP file on template collection websites.</p> *@
                         </div>

                         <div class="about-image" data-aos="fade-up" data-aos-delay="200">

                          <img src="images/WServer.jpeg" class="img-fluid" alt="WT Server">
                        </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- PROJECT -->
     <section class="project section-padding" id="project">
          <div class="container-fluid">
               <div class="row">

                    <div class="col-lg-12 col-12">

                        <h2 class="mb-5 text-center" data-aos="fade-up">
                            Please take a look through our
                            <strong>featured Pages</strong>
                        </h2>

                         <div class="owl-carousel owl-theme" id="project-slide">
                              <div class="item project-wrapper" data-aos="fade-up" data-aos-delay="100">
                                   <img src="images/road-trip.jpg" class="img-fluid" alt="project image">

                                   <div class="project-info">
                                        <span>Disposition</span>

                                        <h3>
                                             <a href="/Disposition/Index">
                                                  <small>A person's inherent qualities of mind and character.</small>
                                                  <i class="fa fa-angle-right project-icon"></i>
                                             </a>
                                        </h3>
                                   </div>
                              </div>

                              <div class="item project-wrapper" data-aos="fade-up">
                                   <img src="images/will-van-wingerden1.jpg" class="img-fluid" alt="project image">

                                   <div class="project-info">
                                        <span>Knowledge</span>

                                        <h3>
                                             <a href="/Knowledge/Index">
                                                  <small>An understanding of a skill acquired through experience or learning.</small>
                                                  <i class="fa fa-angle-right project-icon"></i>
                                             </a>
                                        </h3>
                                   </div>
                              </div>

                              <div class="item project-wrapper" data-aos="fade-up">
                                   <img src="images/computer_programming.jpg" class="img-fluid" alt="project image">

                                   <div class="project-info">
                                        <span>Skills</span>

                                        <h3>
                                             <a href="/Skills/Index">
                                                  <small>The ability to do something well; expertise.</small>
                                                  <i class="fa fa-angle-right project-icon"></i>
                                             </a>
                                        </h3>
                                   </div>
                              </div>

                              @* <div class="item project-wrapper" data-aos="fade-up">
                                   <img src="images/project/project-image04.jpg" class="img-fluid" alt="project image">

                                   <div class="project-info">
                                        <small>Social Media</small>

                                        <h3>
                                             <a href="project-detail.html">
                                                  <span>Race Bicycle</span>
                                                  <i class="fa fa-angle-right project-icon"></i>
                                             </a>
                                        </h3>
                                   </div>
                              </div>

                              <div class="item project-wrapper" data-aos="fade-up">
                                   <img src="images/project/project-image05.jpg" class="img-fluid" alt="project image">

                                   <div class="project-info">
                                        <small>Video</small>

                                        <h3>
                                             <a href="project-detail.html">
                                                  <span>Ultimate HealthCare</span>
                                                  <i class="fa fa-angle-right project-icon"></i>
                                             </a>
                                        </h3>
                                   </div> *@
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- TESTIMONIAL -->
     @* <section class="testimonial section-padding">
          <div class="container">
               <div class="row">

                    <div class="col-lg-6 col-md-5 col-12">
                        <div class="contact-image" data-aos="fade-up">

                          <img src="images/waguespack.jpg" class="img-fluid" alt="website">
                          <img src="images/Bentley-University.png" class="img-fluid" alt="website">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-7 col-12">
                      <h4 class="my-5 pt-3" data-aos="fade-up" data-aos-delay="100">Our Clients</h4>

                      <div class="quote" data-aos="fade-up" data-aos-delay="200"></div>

                      <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300">Research and teaching in the adoption and management of object-oriented technology, particularly object-oriented modeling and its impact on IS development policy and planning. Research and papers in software engineering. Worked as software engineer and database architect for U.S. Air Force Headquarters for Manpower and Personnel. Consultant to Planning Research Corporation for large data system conversion, U.S. Air Force Project Phase IV. Taught at Louisiana State University. </h2>

                      <p data-aos="fade-up" data-aos-delay="400">
                        <strong>Les Waguespack</strong>

                        <span class="mx-1">/</span>

                        <small>Professor, Computer Information Systems & Bentley University</small>
                      </p>
                    </div>

               </div>
          </div>
     </section> *@

     <section class="testimonial section-padding">
          <div class="container">
               <div class="row">

                    <div class="col-lg-6 col-md-5 col-12">
                        <div class="contact-image" data-aos="fade-up">

                          <img src="images/babb.jpg" class="img-fluid" alt="website">
                          <img src="images/WTAMU.png" class="img-fluid" alt="website">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-7 col-12">
                      <h4 class="my-5 pt-3" data-aos="fade-up" data-aos-delay="100">Our Clients</h4>

                      <div class="quote" data-aos="fade-up" data-aos-delay="200"></div>

                      <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300">Dr. Babb teaches computer programming, software development, game development, web development and networking. Dr. Babb has extensive experience in mentoring and coaching students in software design competitions, including coaching two winning teams in the national championship for Microsoft’s Imagine Cup Software Design Invitational.</h2>

                      <p data-aos="fade-up" data-aos-delay="400">
                        <strong>Jeffry Babb</strong>

                        <span class="mx-1">/</span>

                        <small>Associate Professor & Gensler Professor of Computer Information Systems</small>
                      </p>
                    </div>

               </div>
          </div>
     </section>




          @* <div class="col-lg-3 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
            <ul class="social-icon">
              <li><a href="#" class="fa fa-instagram"></a></li>
              <li><a href="#" class="fa fa-twitter"></a></li>
              <li><a href="#" class="fa fa-dribbble"></a></li>
              <li><a href="#" class="fa fa-behance"></a></li>
            </ul>
          </div> *@

        @* </div>
      </div>
    </footer> *@


     <!-- SCRIPTS -->
     <script src="js/jquery.min.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/aos.js"></script>
     <script src="js/owl.carousel.min.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/custom.js"></script>

</body>


@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
