@page
@model IDDQD.Pages.Competencies.Page3Model

@{
    Layout=null;
}

@{
    ViewData["Title"] = "Competency Wizard Page 3";
}

<head>

@* <h1>Disposition Index</h1> *@

<!--

DIGITAL TREND

https://templatemo.com/tm-538-digital-trend

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="~/css/bootstrap.min.css">
     <link rel="stylesheet" href="~/css/font-awesome.min.css">
     <link rel="stylesheet" href="~/css/aos.css">
     <link rel="stylesheet" href="~/css/owl.carousel.min.css">
     <link rel="stylesheet" href="~/css/owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="~/css/templatemo-digital-trend.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/Index">
              <i class="fa fa-line-chart"></i>
              Competency Curricula 2020
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="IDDQD_UI/Pages/Identity/Account/Login" class="nav-link contact">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Competencies/Index" class="nav-link smoothScroll">Competencies</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Dispositions/Index" class="nav-link smoothScroll">Disposition</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Knowledge/Index" class="nav-link smoothScroll">Knowledge</a>
                    </li>
                    <li class="nav-item">
                        <a href="/SkillLevels/Index" class="nav-link">Skills</a>
                    </li>
                    @* <li class="nav-item">
                        <a href="/Privacy" class="nav-link smoothScroll">Privacy</a>
                    </li> *@
                </ul>
            </div>
        </div>
    </nav>

     <!-- HERO -->
    <section class="hero hero-bg d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                    <div class="hero-text">

                        <div class="jumbotron text-center">
                            <h1 class="mx-auto my-0 text-uppercase">Step 3</h1>
                        <h3 class="font-weight-bolder">Atomic or Composite Competency?</h3>
                        </div>


                        <hr>
                        <div class="row">
                            <div style="display: none;" class="col-sm-4">
                                <div>
                                    <p class="font-weight-bolder">Session variable inputs</p>        
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <ul class="list-group list-group-flush">
                                        <li style="display: none" class="list-group-item">Competency Builder JSON</li>
                                        <li class="list-group-item">@HttpContext.Session.GetString(Page1Model.SerializedCompetencyJSONKey)</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <form method="post">
                                    @foreach (var comp in Model.CompetencyTypes)
                                    {
                                        <input type="radio" asp-for="IsComposite" value="@comp" />@comp<br />
                                    }
                                    <input type="hidden" asp-for="CompetencyName">
                                    <input type="hidden" asp-for="CompetencyDescription">
                                    <input type="hidden" asp-for="DispositionIndicies">
                                    
                                    @* @for (int i = 0; i < Model.DispositionIndicies.Count(); i++)
                                    {
                                        <input type="hidden" asp-for="DispositionIndicies[i]">
                                    } *@
                                    <input type="hidden" asp-for="IsComposite">
                                    @* <button name="submit" href="/Page4" type="submit" class="btn btn-primary">
                                        Step 3
                                        <i class="fas fa-angle-double-right"></i>
                                    </button> *@
                                    <input type="submit"/>
                        
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-right">
                @* <a class="btn btn-link text-dark font-weight-bold font-size: 150%" href="./Index" role="button">Back to List</a> *@
                <a class="btn btn-link text-dark font-weight-bold font-size: 150%" href="/Index" role="button">Back to Site</a>
            </div>

        </div>
     </section>

    <!-- SCRIPTS -->
     <script src="js/jquery.min.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/aos.js"></script>
     <script src="js/owl.carousel.min.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/custom.js"></script>
</body>                        
